<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 60px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>

<h1>helooooo</h1>

<form #f="ngForm" (ngSubmit)="addChairToConference(f.value)">
	<select name="users" ngModel required>
		<option selected value="">You are ...</option>
		<option *ngFor="let u of users" value="{{u.id}}" >{{ u.username }}</option>
	</select>
	<input type="submit" value="submit">
</form>

